**/bin/
**/obj/
**/TestResults/
**/logs/
.env
**/.env.test
*.pyc
*.pyo
*.pyd
__pycache__
.venv/
.vs/
.suo
.csproj.user
.code_workspace/
kv_store
*.db
*.db-wal
*.db-shm
*.db-journal
*.db-trace
*.db-lock
*.db-journal
*.db-journal
*.db-journal
.fake
LLM_CACHE/